<p>
  <mat-toolbar color="primary">
    <button
      (click)="drawer.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Centro de idiomas</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menú principal</p>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Inglés A1
      </button>
    </ul>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Inglés A2
      </button>
    </ul>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Inglés B1
      </button>
    </ul>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Inglés C1
      </button>
    </ul>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Francés A1
      </button>
    </ul>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Francés A2
      </button>
    </ul>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Francés B1
      </button>
    </ul>
    <ul>
      <button
        (click)="showFiller = !showFiller"
        mat-raised-button
        color="accent"
      >
        Francés B2
      </button>
    </ul>
  </mat-drawer>

  <main class="main">
    <app-listaestudiantes></app-listaestudiantes>
  </main>
</mat-drawer-container>
